html{
    font-family: 'Montserrat', sans-serif;
}
.sec-1{
    width: 90%;
    min-height: 90vh;
    margin: auto;
}
.pro{
    @include flex(space-between, center, row);
    flex-wrap: wrap;
    padding-top: 1rem;
    border-bottom: 1.5px solid brown;

    h2,
    h3{
        padding-bottom: 0.7rem;
    }
   
button{
    margin-top: 1rem;
    width: 5rem;
    height: 2rem;
    color: white;
    background-color:$btncolor;
    border: none;
    cursor: pointer;
    margin-bottom: 1rem;
}
}